<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</title>
</head>
<body>
ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ чат-бота «Jenna»<br/>
1. Термины и определения<br/>
1.1. Оператор - Торговая компания << Sky your Limited >>,<br/>
юридический адрес: мун. Кишинев, Центр, ул. В. Александри 14 <br/>
1.2. Чат-бот - Чат-бот «Jenna» для ответов на вопросы<br/>
пользователей на тему покупки,доставки товаров,а также заказа товаров.<br/>
1.3. Пользователь - физическое лицо, которое использует Чат-бот Оператора;<br/>
1.4. Политика - настоящая политика конфиденциальности;<br/>
1.5. Персональная информация Пользователя - информация, которую Пользователь
предоставляет о себе самостоятельно в процессе взаимодействия с Чат-ботом, включая
Персональные данные.<br/>
1.6. Персональные данные - любая информация, относящаяся к прямо или косвенно
определенному, или определяемому физическому лицу.<br/>
2. Преамбула<br/>
2.1. Политика действует в отношении всей Персональной информации Пользователя,
которую Оператор может получить о Пользователе во время использования
Пользователем Чат-бота Оператора.<br/>
2.2. Перед использованием Чат-бота Оператора Пользователь подтверждает, что
ознакомился с Политикой и тем самым выражает свое согласие на обработку Оператором
Персональной информации Пользователя.<br/>
3. Персональная информация Пользователей, которую обрабатывает Оператор<br/>
3.1. Оператор может иметь доступ к Персональным данным пользователя, а именно: к
имени Пользователя и иным персональным данным, которые Пользователь сделал
общедоступными (в том случае, если Пользователь сам указал такие Персональные
данные при взаимодействии с Чат-ботом).<br/>
3.2. Политика применима только к информации, обрабатываемой в ходе использования
Чат-бота. Оператор не контролирует и не несет ответственность за обработку информации
сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным в
Чат-боте Оператора.<br/>
3.3. Оператор не проверяет достоверность Персональной информации Пользователя, и
не имеет возможности оценивать дееспособность Пользователя. Однако Оператор
исходит из того, что Пользователь предоставляет достоверную и достаточную
информацию и поддерживает эту информацию в актуальном состоянии.<br/>
4. Цели обработки Персональной информации Пользователей<br/>
4.1. Оператор обрабатывает только ту Персональную информацию, которая
необходима Чат-боту для взаимодействия с Пользователем, за исключением случаев,
когда законодательством предусмотрено иное.<br/>
4.2. Персональную информацию Пользователя Оператор обрабатывает в целях:<br/>
4.2.1. Обработки запросов Пользователя Чат-бота, поступающих Чат-боту;<br/>
4.2.2. Обращения к Пользователю по имени в рамках взаимодействия Пользователя и
Чат-бота;<br/>
4.2.3. Обратной связи с Пользователем, в том числе: направление уведомлений, запросов
и информации, касающихся взаимодействия с Чат-ботом.<br/>
5. Условия обработки персональной информации Пользователей и её передачи
третьим лицам<br/>
5.1. Оператор обрабатывает Персональную информацию Пользователей в
соответствии с парламентским законом LP133/2011 «О персональных
данных». В отношении Персональной информации Пользователя сохраняется ее
конфиденциальность.<br/>
5.2. Оператор может передать Персональную информацию Пользователя третьим
лицам только если такая передача предусмотрена законодательством и только в рамках
установленной законодательством процедуры.<br/>
6. Меры, применяемые для защиты персональной информации Пользователя<br/>
6.1. Оператор принимает необходимые и достаточные организационные и технические
меры для защиты Персональной информации Пользователя в соответствии с
парламентским законом LP133/2011.<br/>
6.2. Права, предусмотренные Политикой, могут быть ограничены в соответствии с
требованиями законодательства республики Молдовы. В частности, такие ограничения
могут предусматривать обязанность Оператора сохранить предоставляемую
Пользователем информацию на срок, установленный законодательством, и передать
такую информацию в соответствии с законодательно установленной процедурой
государственному органу.<br/>
7. Изменение Политики конфиденциальности. Применимое законодательство
7.1. Оператор может вносить изменения в Политику. При изменении указывается дата
последнего обновления. Новая редакция Политики вступает в силу с момента ее
размещения, если иное не предусмотрено новой редакцией Политики.<br/>
7.2. К Политике и отношениям между Пользователем и Оператором, возникающим в
связи с применением Политики, подлежит применению право республики Молдовы.
8. Обратная связь. Вопросы и предложения<br/>
8.1. Все предложения или вопросы относительно содержания Политики Пользователь
вправе направлять Оператору:<br/>
8.1.1. по электронное почте: twentyoneandrey@gmail.com;<br/>
8.1.2. по адресу: мун. Кишинев, Центр, ул. В. Александри 14 <br/>
</body>
</html>